@import "../styles.css";


/* separate body styling  */
body {
    font-family: "Source Code Pro", monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart-container, .sec {
    border: 1px solid var(--text-color);
}

/* Container styling */
.cart-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

.left-section {
    display: grid;
    grid-template-rows: auto auto auto; /* Stacks cart, shipping address, and payment method */
    gap: 20px;
}

.right-section {
    background: var(--background-color);
    padding: 20px;
    border-radius: 5px;
}

h2 {
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.price-breakdown, .payment-section, .shipping-address {
    background: var(--primary-color);
    padding: 20px;
    border-radius: 5px;
}

button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
