

/*  */
/* Contact page layout */
/*  */
.contact-page {
    margin: 5% auto;
    padding: 20px;
    background: var(--primary-color);
    border-radius: 10px;
    box-shadow: var(--shadow-color) 4px 4px 14px 4px;
}

/* Header and section headings */
header h1, header p, .contact-form h2, .contact-info h2, .map h2, .hours h2 {
    color: var(--text-color);
    margin-bottom: 10px;
    text-align: center;
}

/* Contact form */
.contact-form {
    margin-top: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form label {
    font-weight: bold;
    color: var(--text-color);
}

.contact-form input, .contact-form select, .contact-form textarea {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.contact-form button {
    padding: 10px;
    color: var(--text-color);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: var(--hover-color);
}

/* Trying to add confrimation message for when form is submitted */
.confirmation-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #8ac571;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

/* hide message until submitted */
.hidden {
    display: none;
}

#confirmation-message {
    color: var(--hover-color);
    font-weight: bold;
    margin-top: 20px;
}

/* Contact info and map */
.contact-info, .hours, .map {
    margin-top: 30px;
    padding: 20px;
    background: var(--primary-color);
    border-radius: 8px;
    box-shadow: var(--shadow-color) 4px 4px 14px 4px;
}

.contact-info p, .hours p {
    margin: 10px 0;
    color: var(--text-color);
}

.contact-info p a {
    text-decoration: none;
    color: var(--text-color);
}

.map {
    display: block; /* Flexbox layout */
    align-items: center; /* Vertically center items */
    justify-content: center; /* Horizontally center items */
    height: 100%; /* Ensure it takes the full height of its container */
    text-align: center; /* For inline or text-based elements */
}

.map iframe {
    width: 650px;
    height: 250px;
    border: 0;
    margin-top: 10px;
}




/*  */
/* Responsive adjustments */
/*  */
@media (max-width: 768px) {
    .contact-page, .contact-info, .hours, .map {
        margin: 5% 10px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    header h1, .contact-form h2, .contact-info h2, .map h2, .hours h2 {
        font-size: 1.2rem;
    }

    .contact-page, .contact-info, .hours, .map {
        margin: 5% 5px;
        padding: 15px;
    }

    .contact-form button {
        font-size: 1rem;
    }
}
